*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    text-align: center;
}
p,h4{
    font-size: 25px;
    color: aqua;
}
img
{
    border: 5px solid red;
}
.link
{
    text-decoration: none;
}
#heading1
{
    background-color: blue;
}